<mat-toolbar color="primary" position="fixed">
    <h2>Table Tennis Rankings</h2>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <h3>Type of ranking</h3>
      <mat-divider></mat-divider>
      <ol>
          <li>
            <a routerLink="/men" routerLinkActive="active">General List - Men</a>
          </li>
          <li>
              <a routerLink="/women" routerLinkActive="active">General List - Women</a>
          </li>
          <li>
              <a routerLink="/mens-team" routerLinkActive="active">Mens Team Ranking</a>
          </li>
          <li>
              <a routerLink="/womens-team" routerLinkActive="active">Womens Team Ranking</a>
          </li>
        </ol>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>